@import '/cocowx/stylus/global'

$unitHei = 92rpx

baseStyle()
  height: $unitHei
  border-top: 1rpx solid $gray
  line-height: $unitHei
  background-color: $white

page 
  background-color: $gray

.borderBt 
  border-top: 1rpx solid $gray

.aa-mian 
  .aam-unit 
    padding: 0 $paddingPage
    baseStyle()
    &[data-active=active] 
      color: $minorColor
    input 
      baseStyle()
    
  .aam-default-address 
    display: flex
    justify-content: space-between
    baseStyle()
    padding: 0 $paddingPage
    margin-top: $moduleSpacing
    color: $textDefaultColor
    .aamd-icon 
      display: flex
      align-items: center
      image 
        box-sizing: border-box
        width: 36rpx
        height: 36rpx
        border: 2rpx solid $borderColorGray
        border-radius: 100%
        &[data-active=active] 
          border: 0

// footer
.aa-footer 
  width: 100%
  display: flex
  button 
    flex: 1
    border-radius: 0
    font-size: $fontSize32
    &::after
      border: 0
      border-radius: 0
  
// address 组件
.address-module 
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 99
  .am-main 
    box-sizing: border-box
    position: absolute
    bottom: 0
    width: 100%
    height: 800rpx
    background-color: $white
    .amm-header 
      display: flex
      justify-content: space-between
      height: 100rpx
      padding: 0 $paddingPage
      line-height: 100rpx
      color: $textGrayColor
      .ammh-left 
        .ammh-unit 
          margin-right: 30rpx
          &[data-active*=active] 
            color: $textDefaultColor
          
        
      

    
    .amm-body 
      overflow-y: auto
      height: 800rpx - 100rpx
      padding-left: $paddingPage
      color: $textGrayColor
      .ammb-li 
        height: 90rpx
        line-height: 90rpx
      
    
  
