@import '/cocowx/stylus/global'
@import '/cocowx/stylus/buyNumber'
@import '/cocowx/wxParse/wxParse'
@import '/cocowx/components/footerBar/footerBar'

$littleImg = 160rpx
$marginBase = 20rpx
$marginBt = 30rpx
$heightT1 = 54rpx
$bannerHei = 750rpx
/* base */
.marginTb 
  margin: $marginBase 0
.marginLr
  margin: 0 24rpx
page 
  background-color: $pageBg
  height: 100vh

/* 主题 */
.gd-main 
  display: flex
  flex-direction: column
  min-height: 100%
  padding-bottom: 100rpx
  font-size: $fontSize28
  background-color: $white
  image 
    display: block
    width: 100%!important
    // height: 100%
  .gdm-content
    padding-top: 30rpx
    background-color: $white
    view 
      overflow: hidden
      font-size: $fontSize32Im
      line-height: $detailLineHei
    image 
      margin-bottom: 16rpx
  .gd-desc
    padding: 36rpx 0 38rpx 0
    font-size: 32rpx
    color: rgb(153,153,153)
    border-bottom: 6rpx solid rgb(241,241,241)
    text
      padding: 0 24rpx
      display: block
      line-height: 46rpx
  /* 标题|价格 */
  .gd-title, .gd-price 
    font-weight: bold
    font-size: $fontSize40

  .gd-title 
    margin-top: 30rpx
    padding-bottom: 24rpx
    line-height: $detTitleLineHei
    font-weight: bold
    border-bottom: 1rpx solid $gray
    textOverflowEs(2)

  .gd-price 
    // padding-bottom: 50rpx
    padding-top: 24rpx
    // border-bottom: 1rpx solid $gray
  
.gdm-close 
  display: flex
  position: absolute
  top: 0
  right: 0
  z-index: 2
  width: 66rpx
  height: 66rpx
  justify-content: center
  align-items: center
  image 
    width: 24rpx
    height: 24rpx

/* 广告位 */
.gd-banner 
  width: 100%
  height: $bannerHei


/* 商品规格弹窗 */
.gd-modal 
  position: fixed
  top: 0
  left: 0
  z-index: 99
  width: 100vw
  height: 100vh
  font-size: $fontSize28

.gdm-main 
  overflow: hidden
  position: absolute
  right: 0
  left: 0
  bottom: 0
  padding-top: $paddingPage
  background-color: $white
  animation: showFromBottom .3s

.gdm-head 
  position: relative
  display: flex
  paddingBase()

.gdm-img 
  width: $littleImg
  height: $littleImg
  overflow: hidden
  border-radius: $radiusBase
  image 
    width: $littleImg
    height: $littleImg
  
.gdm-text 
  position: absolute
  left: $littleImg+$paddingPage+30rpx
  bottom: 10rpx
  font-size: $fontSize28
  .gdmt-price
    font-weight: bold
  .gdmt-stock 
    font-size: $fontSize24
    color: $textGrayColor

.gdm-serviceinfo 
  display: flex
  flex-direction: column
  justify-content: center
  height: 134rpx
  padding: 18rpx $paddingPage
  margin: $marginBt 0
  box-sizing: border-box
  background-color: $grayLittle
  image 
    width: 40rpx
    height: 40rpx
  
.gmds-title 
  font-size: $fontSize24
  color: $tct666

.gdms-group 
  display: flex
  margin-top: 10rpx

.gdmsg-unit 
  margin-right: 30rpx
  color: $textGrayColor
  image 
    position: relative
    top: 2px
    margin-right: 8rpx
    width: 26rpx
    height: 26rpx
  
.gdm-specification 
  margin-bottom: $marginBt
  paddingBase()
  .gdmsp-title 
    margin-bottom: 10rpx
    color: $tct666

.gdmsp-unit 
  box-sizing: border-box
  display: inline-block
  padding: 16rpx
  min-width: 76rpx
  height: 68rpx
  margin-right: 16rpx
  margin-bottom: 16rpx
  text-align: center
  border: 1rpx solid $borderColorGrayT1
  border-radius: $radiusBase
  font-size: $fontSize24
  line-height: @height - @min-width * 2
  color: #333
  &.disabled 
    border: 1rpx dashed $borderColorGrayT1
    color: $textGrayColor
  
.gdm-quantity 
  margin-bottom: $marginBt
  .bnqt-limit 
    font-size: $fontSize24
    color: $textGrayColor

.submit-btn 
  height: $footerHei
  border-radius: 0
  font-size: $fontSize32
  line-height: $footerHei
  letter-spacing: 2rpx
// 空状态
.lm-es
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  image 
    width: 326rpx
    height: 369rpx   
    margin-top: -200rpx

