@import '/cocowx/stylus/global'
@import '/cocowx/wxParse/wxParse'

// $bannerHei = 500rpx
page 
  background-color: $pageBg
  height: 100vh

.ad-main 
  height 100%
  background-color: $white
  .adm-banner 
    overflow: hidden
    height: $bannerHei
    image 
      width: 100%
      height: $bannerHei
  .adm-title 
    padding: 30rpx $paddingPage
    font-size: $fontSize40
    font-weight: bold
    line-height: $detTitleLineHei
    textOverflowEs(2)
    background-color: $white
  .adm-desc 
    box-sizing: border-box
    padding: 0 $paddingPage
    background-color: $white
    view 
      overflow: hidden
      font-size: $fontSize32Im
      line-height: $detailLineHei
    image 
      max-width: 100%
      margin-bottom: 16rpx   
    &.clearMb
      padding: 0
      image 
        display: block
        width: 750rpx !important
        margin-bottom: 0  
  // 空状态
  .adm-es
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    image 
      width: 298rpx
      height: 331rpx   
      margin-top: -200rpx   
      
