@import '/cocowx/stylus/global'
@import '/cocowx/stylus/buyNumber'
@import '/cocowx/components/orderInfoList/orderInfoList'
@import '/cocowx/components/orderAddress/orderAddress'

page 
  background-color: $gray

.ocm-order 
  background-color: $white

.ocm-quantity 
  display: flex
  align-items: center
  height: 100rpx
  border-bottom: 1rpx solid $borderColorBase

.oc-footer 
  width: 100%
  box-sizing: border-box
  justify-content: space-between
  color: $tct666
	.ocf-text 
    box-sizing: border-box
    padding-left: $paddingPage
  .ocf-price 
    color: $defaultColor
  
  
